*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(to right, #5f2c82, #49a09d);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
}

.content {
    padding: 20px;
    margin-top: 25px;
}

.header {
    background-color: #222;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-style: solid ;
    border-bottom-width: 5px;
    border-bottom-color: yellow;
}

.container {
    max-width: 90%;
    width: 800px;
    background-color: white;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    height: fit-content;
    transform: scale(.8);
}

.icon-container {
    position: relative;
    display: flex;
    justify-content: center;

    top: 70px;
    padding: 20px;
    background-color: white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-color: yellow;
}

.general-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

#description {
    font-size: 3rem;
    font-weight: bold;
}

#location {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0px;
}

.detail-section{
    display: flex;
    justify-content: space-between;
    border-bottom-style: groove;
    margin-bottom: 20px;
}

.detail {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
}

#temps{
    padding-left: 20%;
}

#temp{
    padding-right: 5px;
    font-size: 2rem;
}

.min-max{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 1px;
}

#real-feel{
    font-size: 2rem;
    padding-right: 12%;
}

.autocomplete-container{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#autocomplete{
    margin-top: 20px;
    font-size: 2rem;
    outline: none;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
}

/* pack-item styles google places search api */
.pac-item {
    font-size: 2rem;
    padding: 10px 10px;
}

.pac-icon{
    display: none;
}
.pac-item-query{
    font-size: 1.5rem;
    padding-right: 14px;
}

